* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2E80CE;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% -48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    border: 1px solid var(--primary-color) ;
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    height: var(--height);
    line-height: var(--height);
    border-radius: 30px;
    padding: 0 20px;
    min-width: 205px;
    text-align: center;
    font-family: 400;
    font-size: 1.6rem;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* Header */
.header {
    background-color: #10375C;
    min-height: 100vh;
    padding-top: 30px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: var(--primary-color);
}

.logo__circle::after {
    top: 1.1em;
    left: 1.1em;
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
}

.logo__text {
    color: #fff;
    display: block;
    margin-left: 0.6em;
    text-align: right;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
}
.action__login,
.navbar__link {
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 4px 21px;
}

.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active::before{
    position: relative;
    left: -8px;
    top: -2px;
    content: "";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.action__signup {
    --height: 44px;
    min-width: 104px;
}