* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2E80CE;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% -48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    border: 1px solid var(--primary-color) ;
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    height: var(--height);
    line-height: var(--height);
    border-radius: 30px;
    padding: 0 20px;
    min-width: 205px;
    text-align: center;
    font-family: 400;
    font-size: 1.6rem;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section-heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.section-desc {
    margin-top: 18px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

/* Header */
.header {
    background-color: #10375C;
    min-height: 100vh;
    padding-top: 30px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: var(--primary-color);
}

.logo__circle::after {
    top: 1.1em;
    left: 1.1em;
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
}

.logo__text {
    color: #fff;
    display: block;
    margin-left: 0.6em;
    text-align: right;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
}
.header-action__login,
.navbar__link {
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 4px 21px;
}

.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active::before{
    position: relative;
    left: -8px;
    top: -2px;
    content: "";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    margin-right: 7px;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
}

/* Hero */

.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44.2%;
    flex-shrink: 0;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14286; /* 114.286% */
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66666666; /* 166.667% */
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__phone {
    margin-left: 38px;
    color: #FFF;
    font-size: 1.8rem;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:first-child {
    margin-right: -6px;
    position: relative;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* Services */
.service {
    padding: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-list {
    margin-bottom: 55px;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service-item {
    padding: 22px;
    width: 470px;
    border-radius: 10px;
    background: #FFF;
    display: flex;
    transition: 0.3s;
}

.service-item:hover {
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    position: relative;
}

.service-item:hover .service-item__icon {
    background-color: var(--primary-color);
    color: #fff;
}

.service-item__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: #EFF6FD;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
    width: 60px;
    height: 60px;
    color: #10375C;
    transition: 0.3s;
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.28;
}

.service-item__desc {
    margin-top: 8px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

/* Work */

.work {
    background-color: #F6FBFF;
    padding: 100px 0;
}

.work__desc {
    width: 468px;
}

.work__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 43px 42px;
    border-radius: 4px;
    border: 16px solid #EAF6FF;
}

.work-item:hover {
    cursor: pointer;
    border-color: var(--primary-color);
    transition: 0.3s;
    transform: translateY(-16px);
}

.work-item:hover .work-item__more {
    color: var(--primary-color);
}

.work-item__heading {
    margin-top: 18px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38462; /* 138.462% */
}

.work-item__desc {
    margin-top: 28px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}