* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2E80CE;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% -48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    border: 1px solid var(--primary-color) ;
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    height: var(--height);
    line-height: var(--height);
    border-radius: 30px;
    padding: 0 20px;
    min-width: 205px;
    text-align: center;
    font-family: 400;
    font-size: 1.6rem;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section-heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.section-desc {
    margin-top: 18px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.control {
    display: flex;
    column-gap: 18px;
}

.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: #fff;
    color: #575F66;
    border-radius: 36px;
    border: 1px solid #575F66;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.control__btn:hover {
    cursor: pointer;
    color: #FFF;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

.control-next-icon {
    rotate: 180deg;
}

/* Header */
.header {
    background-color: #10375C;
    min-height: 100vh;
    padding-top: 30px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: var(--primary-color);
}

.logo__circle::after {
    top: 1.1em;
    left: 1.1em;
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
}

.logo__text {
    color: #fff;
    display: block;
    margin-left: 0.6em;
    text-align: right;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
}
.header-action__login,
.navbar__link {
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 4px 21px;
}

.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active::before{
    position: relative;
    left: -8px;
    top: -2px;
    content: "";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    margin-right: 7px;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
}

/* Hero */

.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44.2%;
    flex-shrink: 0;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14286; /* 114.286% */
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66666666; /* 166.667% */
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__phone {
    margin-left: 38px;
    color: #FFF;
    font-size: 1.8rem;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:first-child {
    margin-right: -6px;
    position: relative;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* Services */
.service {
    padding: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-list {
    margin-bottom: 55px;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service-item {
    padding: 22px;
    width: 470px;
    border-radius: 10px;
    background: #FFF;
    display: flex;
    transition: 0.3s;
}

.service-item:hover {
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    position: relative;
}

.service-item:hover .service-item__icon {
    background-color: var(--primary-color);
    color: #fff;
}

.service-item__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: #EFF6FD;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
    width: 60px;
    height: 60px;
    color: #10375C;
    transition: 0.3s;
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.28;
}

.service-item__desc {
    margin-top: 8px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

/* Work */

.work {
    background-color: #F6FBFF;
    padding: 100px 0;
}

.work__desc {
    width: 468px;
}

.work__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 43px 42px;
    border-radius: 4px;
    border: 16px solid #EAF6FF;
}

.work-item:hover {
    cursor: pointer;
    border-color: var(--primary-color);
    transition: 0.3s;
    transform: translateY(-16px);
}

.work-item:hover .work-item__more {
    color: var(--primary-color);
}

.work-item__heading {
    margin-top: 18px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38462; /* 138.462% */
}

.work-item__desc {
    margin-top: 28px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

/* Feature */

.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__media {
    width: 48.7%;
}

.feature__images {
    position: relative;
    padding: 0 58px 121px 0; 
    
}

.feature__img {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
}

.feature__inner {
    display: flex;
    column-gap: 130px;
    align-items: center;
}

.feature__cta {
    margin-top: 38px;
}

/* Member */

.member {
    padding: 85px 0;
    text-align: center;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.member__control {
    margin-top: 38px;
    justify-content: center;
}

.member-item:hover .member-item__img {
    transform: scale(1.1);
    cursor: pointer;
} 

.member-item__img-bg {
    padding-top: 28px;
    border-radius: 6px;
    background-color: #EAF6FF;
    overflow: hidden;
}

.member-item__img {
    max-width: 100%;
    height: 290px;
    display: block;
    object-fit: cover;
    transition: 0.3s;
}

.member-item__name {
    margin-top: 12px;
    color: #10375C;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.member-item__desc {
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85714; /* 185.714% */
}



/* Install */

.install {
    margin-top: 180px;
}

.install__inner {
    border-radius: 4px;
    background-color: #2E80CE;
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.install__img {
    margin-top: -95px;
    object-fit: cover;
    width: 284px;
    height: 522px;
    display: block;
}

.install__content {
    max-width: 586px;
}

.install__heading,
.install__desc {
    color: #FFF;
}

.install__heading {
    max-width: 489px;
}

.install__row {
    display: flex;
    column-gap: 28px;
    margin-top: 38px;
}

/* News */
.news {
    padding: 85px 0;
    margin-top: 85px;
}

.news__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__content {
    flex-shrink: 0;
}

.news__heading {
    max-width: 470px;
}

.news__more {
    display: block;
    margin-top: 28px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.56;
    text-decoration-line: underline;
    color: #10375C;
    text-underline-offset: 5px;
}

.news__control {
    margin-top: 28px;
}

.news__list {
    display: flex;
    max-width: 570px;
    column-gap: 30px;
}

.news-item {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;
}

.news-item:hover {
    cursor: pointer;
    box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-8px);
}

.news-item:hover .news-item__body {
    border-color: #fff;
}

.news-item__img {
    height: 172px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.news-item__body {
    padding: 22px;
    background-color: #fff;
    border: 1px solid #e8ebee;
    border-top: none;
    border-radius: 0 0 12px 12px;
    transition: 0.3s;
}

.news-item__heading {
    color: #10375C;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.625; /* 162.5% */
}

.news-item__desc {
    margin-top: 10px;
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71429; /* 171.429% */
}

.news-item__more {
    display: inline-block;
    margin-top: 12px;
    color: #10375C;
    font-size: 1.4rem;
}

.news-item__more:hover {
    color: var(--primary-color);
}

/* Appointment */

.appointment {
    margin: 85px 0 170px;
}

.appointment__inner {
    background-color: #F6FBFF;
    padding: 100px 70px;
    text-align: center;
    border-radius: 4px;
}

.appointment__heading {
    position: relative;
    padding-bottom: 20px;
}

.appointment__heading::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    content: "";
    display: block;
    width: 136px;
    height: 2px;
    background-color: var(--primary-color);
}

.appointment__desc {
    max-width: 617px;
    margin: 18px auto 38px;
    font-size: 1.6rem;
}